.profile-page {
  min-height: 100vh;
  background-color: var(--primary-dark-green);
  animation: fadeIn 0.5s ease-out;
}

.profile-container {
  margin-top: 40px;
}

.sidebar-card {
  background: #c9f8ba;
  border-radius: 28px;
  padding: 30px;
}

@media (max-width: 960px) {
  .sidebar-card {
    border-radius: 20px;
    padding: 20px;
  }
}

@media (max-width: 600px) {
  .sidebar-card {
    border-radius: 16px;
    padding: 16px;
  }
}

.sidebar-header {
  background-color: rgba(51, 107, 63, 1);
  padding: 14px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 25px;
  border-radius: 35px;
}

.sidebar-username {
  font-size: 20px;
  font-weight: bold;
}

.sidebar-email {
  font-size: 14px;
  opacity: 0.8;
}

.sidebar-section {
  margin-top: 25px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #2f6e41;
}

.sidebar-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 16px 8px;
  border-radius: 12px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .sidebar-item {
    padding: 12px 6px;
    border-radius: 8px;
  }
}

.sidebar-item:hover {
  background: rgba(51, 107, 63, 1);
  color: white;
  border-radius: 30px;
}

.item-title {
  font-weight: 600;
}

.item-sub {
  font-size: 13px;
  opacity: 0.7;
}

@media (max-width: 600px) {
  .item-sub {
    font-size: 11px;
  }
}

.profile-form-card {
  background: transparent;
  padding: 20px 40px;
}

.form-avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.row-two {
  display: flex;
  gap: 15px;
}

.btn-full {
  width: 100%;
  margin-top: 25px;
}

